@import url(https://fonts.bunny.net/css?family=black-ops-one:400);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  background-color: #c7b7a3;
  margin-bottom: 1rem;
}

main {
  width: auto;
}

.header-title {
  font: 1.5rem 'Black Ops One', display;
}

.grid-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.grid-container > div {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
}

.cell {
  border: 2px solid gray;
}
.cell:hover, .cell:active{
  background-color: #C7B7A3;
}
.ship {
  background-color: blue;
}
.cell.selected {
  background-color: red;
}
